#policies {
	margin-top: 3%;
}

#img_defensepro {
	float: left;
	padding: 0.5%;
}

#select_defensepro {
	float: left;
}

#jsontotable {
	margin-top: 5%;
}

#submit_policies {
	
}

#container_dp {
	display: flex;
	margin-top: 3%;
	margin-bottom: 2%;
}

#whitelist {
	float:left;
}

#blacklist {
	float:left;
}
