#container-policies{
	padding-bottom: 10%;
}

#whitelist-form {
	background-color: #fff;
}

#blacklist-form {
	/*background-color: #222222 !important;*/
	background-color: rgba(2, 2, 2, 0.75);
}

.list-warning {
	margin: 0 0 0 10% !important;
	width: 45%;
}

.alert {
	margin: 1% 5% 0 5% !important;
}

#lists {
	text-align:center;
}

#policies {
	text-align:center;
}

#img_defensepro {
	float: left;
	padding: 0.2%;
}

#select_defensepro {
	float: left;
	margin-left: -1%;
}

#dpSelect {
	width: 20%;
	margin-left: 1%;
}

#jsontotable {
	margin-top: 5%;
}

#submit_policies {
	
}

#container_dp {
	display: flex;
	margin-top: 1%;
	margin-bottom: 2%;
}

#whitelist {
	float:left;
}

#blacklist {
	float:left;
}

.sidebar {
	width: 15%;
	float: left;
	height: 100%;
	background-color: #008cba;
	padding: 1%;
	border: 1px solid rgba(0,0,0,.125);
}

.sidebar li a {
	color: white;
}

.sidebar li a:hover {
	background-color: #173b67;
	padding-left: 5px;
}

#hide {
	font-size: 16px !important;
	padding: 1%;
	background-color: #fff;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.125);
}	

@media only screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
    }
    #divFixed {
        position: relative !important;
        margin-left: 0 !important;
    }
    #hide {
        display: none;
    }
}


.logo {
	padding:1%;
}

#divFixed {
    position:fixed;
    width:250px;
    bottom:0;
    margin-left:3%;
    height: whatever;
    z-index: 1;

}

#divFixed #hide {
        line-height: 115px;
	width: 10%;
}

.sidebar {
	width: 90%;
}

form {
	background-color: #eeeeee;
	padding: 1%;
	border: 1px solid rgba(0,0,0,.125);
}

