{% extends 'layout.html' %}

{% block header %}
{% block title %}Admin{% endblock %}

{% endblock %}
{% block content %}
<div class="container-fluid">
<form method="post" action="/banlist" onsubmit="return confirm('Estás seguro?');">

	<div class="row">
		<div class="col-md-12">
		    <div id="container_dp">
                        <div id="img_defensepro">
                                <img src="static/img/device_defensepro.png" alt="">
                        </div>
                            <select class="form-control" id="dpSelect" name="device">
                            {% for name, ip in DPDevices %}
                            <option value="{{ ip }}" id="device">{{ name }} ~ {{ ip }}</option>
                            {% endfor %}
                            </select>
                    </div>
		</div>

		<div class="col-md-12" id="lists">		
		<div class="col-md-6" id="blacklist">
			<h2> Add to blacklist </h2>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleTextarea" rows="3" name="banIPs" placeholder="10.0.0.1,10.0.0.2,..."></textarea>
                        </div>
		</div>

		<div class="col-md-6" id="whitelist">
			<h2> Add to whitelist</h2>
                        <div class="form-group">
                            <textarea class="form-control" id="exampleTextarea" rows="3" name="whiteIPs" placeholder="10.0.0.1,10.0.0.2,..."></textarea>
                        </div>
                </div>
		<button type="submit" class="btn btn-primary" id="submit" align="center">Submit</button>
		</div>
		</div>
	</div>
</form>
</div>

{% endblock %}
{% block footer %}

<script type=text/javascript>

$(function() { 
    $('#lists').hide();
    $('#information').hide();
    $('option#device').bind('click', function() {
        $('#lists').show();
    });

});
</script>

{% endblock%}
