{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="container-fluid" style="text-align:center;">
	<div class="row" style="margin-top:25%;">
		<div class="col-md-4">
			<div class="list-group">
  				<a href="/policies" class="list-group-item"><span class="glyphicon glyphicon-th-list"></span> Policies</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="list-group">
  				<a href="/blacklist" class="list-group-item"><span class="glyphicon glyphicon-home"></span> BlackList</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="list-group">
  				<a href="/whitelist" class="list-group-item list-group-item-danger"><span class="glyphicon glyphicon-trash"></span> WhiteList</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
