{% extends 'layout.html' %}

{% block header %}
{% block title %}Admin{% endblock %}

{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
				<table class="table table-hover">
				<tr class="table-light">
					<th scope="row">Policy name</th>
					<td>Report Only / Block and Report</td>
				</tr>
				{% for rule in RulesName %}
				<tr class="table-light">
                                        <td>{{ rule }}</td>
                                        <td><input checked data-toggle="toggle" type="checkbox"></td>
                                </tr>
				{% endfor %}
				</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
		<form method="post" action="/">
			<h2> Add to blacklist</h2>
			<div class="form-group">
	    		    <label for="dpSelect">DefensePro select</label>
      			    <select class="form-control" id="dpSelect" name="device">
		            {% for name, ip in DPDevices %}
                            <option value="{{ ip }}">{{ name }} ~ {{ ip }}</option>
			    {% endfor %}
		            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleTextarea">IPs</label>
                            <textarea class="form-control" id="exampleTextarea" rows="3" name="banIPs"></textarea>
                        </div>
		<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		</form>
		<div class="col-md-6">

		</div>
	</div>
</div>
{% endblock %}
