{% extends 'layout.html' %}

{% block header %}
{% block title %}Admin{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<form method="post" action="/policies" onsubmit="return confirm('Estás seguro?');">
	<div class="row">
	<div class="col-md-12" id="policies">

				    <div id="container_dp">
                        <div id="img_defensepro">
                                <img src="static/img/device_defensepro.png" alt="">
                        </div>
                            <select class="form-control custom-select" id="dpSelect" name="device">
			    {% for name, ip in DPDevices %}                            
                            <option value="{{ ip }}" id="device" name="device">{{ name }} ~ {{ ip }}</option>
                            {% endfor %}
                            </select>
                    </div>

<!--
			    <div id="img_defensepro">
			    	<img src="static/img/device_defensepro.png" alt="">
			    </div> 
			    <div class="col-lg-10" id="select_defensepro">
      			    	<select class="form-control custom-select" id="dpSelect" name="device">
		            	{% for name, ip in DPDevices %}
                            	<option id="device" value="{{ ip }}" name="device">{{ name }} ~ {{ ip }}</option>
			    	{% endfor %}
		            	</select>
			    </div>
-->
			    <div class="col-md-12" id="policiesdiv">
			        <div id="jsontotable" class="jsontotable"></div>
			        <button type="submit" class="btn btn-primary" id="submit_policies">Submit</button>
			    </div>

				<!--
				<table class="table table-hover" id="policiesTable">
				<thead>
				<tr class="table-light">
					<th scope="row">Policy name</th>
					<td>Report Only / Block and Report</td>
				</tr>
				</thead>
				<tbody>

				{% for name, action in policies %}
				<tr class="table-light">
                                        <td id="policyName">{{ name }}</td>
                                        <td>
						 <select name="enables[]">
							<option value="0" {% if "0" in action %} selected="selected" {% endif %}> Report Only</option>
							<option value="1" {% if "1" in action %} selected="selected" {% endif %}> Block and Report</option>
						 </select> 
					</td>
                                </tr>
				{% endfor %}

				</tbody>
				</table>
				-->


		</div>
	</div>
	</form>
</div>

{% endblock %}

{% block footer %}

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('#policiesdiv').hide();
    $('option#device').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_select_DP', {
        a: $('option[name="device"]').val(),
      }, function(data) {

	// Delete policies table
	$( ".policies-table" ).remove();

	// Get policies JSON
	console.log(data.JSONRules);
	var data = data.JSONRules;

	// JSON to table
	$.jsontotable(data, { id: '#jsontotable', header: false, className: 'table table-hover policies-table' });

	$( "td:nth-child(2):contains('0')" ).empty().append('<select name="enables[]"> <option value="0" selected="selected"> Report Only </option> <option value="1"> Block and Report</option></select>');

	$( "td:nth-child(2):contains('1')" ).empty().append('<select name="enables[]"> <option value="0"> Report Only </option> <option value="1" selected="selected"> Block and Report</option></select>');
	
// $('#jsontotable > table > tbody > tr > td:nth-child(2)').append('<select name="enables[]"> <option value="0" selected="selected"> Report Only</option> <option value="1"> Block and Report</option></select>');

	$('#policiesdiv').show();

      });
      return false;
    });
  });
</script>


{% endblock %}
