{% extends 'layout.html' %}

{% block header %}
{% block title %}Admin{% endblock %}

{% endblock %}
{% block content %}
<div class="container-fluid">
<form method="post" id="whitelist-form" action="/whitelist" onsubmit="return confirm('Estas apunto de añadir las IPs en la WHITELIST, estás seguro?');">

	<div class="row">
		<div class="col-md-12">
		    <div id="container_dp">
                        <div id="img_defensepro">
                                <img src="static/img/device_defensepro.png" alt="">
                        </div>
                            <select class="form-control custom-select" id="dpSelect" name="device">
                            {% for name, ip in DPDevices %}
                            <option value="{{ ip }}" id="device">{{ name }} ~ {{ ip }}</option>
                            {% endfor %}
                            </select>
                    </div>
		</div>

		<div class="col-md-12" id="whitelist">
			<span class="badge badge-info"><i class="fas fa-info-circle"></i> WHITELIST</span>
                        <div class="form-group">
                            <textarea class="form-control" id="IPs" rows="3" name="whiteIPs" placeholder="10.0.0.1,10.0.0.2,..."></textarea>
                        </div>
			<button type="submit" class="btn btn-primary" id="submit" align="center">Submit</button>
                </div>
	</div>
</form>
</div>


{% if "Success" in WhiteList %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Well done!</strong> You successfully added IPs in the WHITELIST.
</div>
{% elif WhiteList == "" %}

{% else %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong><br>
    {% for e in WhiteList %}
       {{ e }} <strong>hasn't been added to the WHITELIST.</strong> <br>
    {% endfor %}

</div>
{% endif %}

{% endblock %}
{% block footer %}

<script type=text/javascript>

$(function() { 
    $('#whitelist').hide();
    $('#information').hide();
    $('option#device').bind('click', function() {
        $('#whitelist').show();
    });

});
</script>

{% endblock%}
